.selected
{
  
  font-weight: 700;
}
.no-result
{
  padding: 12px 20px;
  color: #e96f23a3;
}

.search-field
{
  width: 100%;
  margin-bottom: 12px;
}

.inline-icon
{
  font-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 4;
  margin-bottom: 10px;

}
.add-link
{
  display: inline-block;
  margin-bottom: 12px;
}