<a mat-button="filled" routerLink="/drinks/new" class="add-link"><mat-icon>add</mat-icon> Thêm món mới</a>

<mat-form-field appearance="outline" class="search-field">
  <mat-label>Tìm món: </mat-label>
  <input matInput type="search" [ngModel]="keyword()" (ngModelChange)="keyword.set($event)"
    placeholder="Nhập tên món cần tìm:..." />
  <mat-icon matSuffix>
    <search></search>
  </mat-icon>
</mat-form-field>


<mat-nav-list aria-label="Chọn món">
  @for (nut of filterKW(); track nut.id) {
  <a mat-list-item [class.selected]="selectedDrink().id === nut.id" (click)="chonMon(nut)"
    [routerLink]="['/drinks', nut.id]">
    <span matListItemTitle>
      @if (nut.isFavorite) {
      <mat-icon aria-label="món yêu thích" class="inline-icon">🔥</mat-icon>
      }
      {{ nut.name }}
      @if (nut.giaCoBan === giaCaoNhat()) {
      <mat-icon aria-label="món đắt nhất" class="inline-icon">💎</mat-icon>
      }
    </span>
  </a>
  }@empty {
  <p class="no-result">Không tìm thấy món uống</p>
  }

</mat-nav-list>